@model IEnumerable<MVCWizard.Web.Models.EmployeeDto>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dept)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td>
                    <input type="button" data-id="@item.Id" value="View Details" 
                    class="btn btn-success btn-sm"
                    data-url="@Url.Action("GetEmployeeDetails", "Employee", new {  emp_id=item.Id  })" 
                    />
                    <input type="button" data-empid="@item.Id" value="View Details popup"
                    data-url="@Url.Action("GetEmployeeDetails", "Employee", new {  emp_id=item.Id  })"
                    class="btn btn-warning btn-sm"
                    />
                     <input type="button" data-edit="@item.Id" value="Edit"
                    data-url="@Url.Action("GetEmployeeEdit", "Employee", new {  emp_id=item.Id  })"
                    class="btn btn-warning btn-sm"
                    />

                    <input type="button" data-empid-del="@item.Id" value="Delete" 
                    class="btn btn-danger btn-sm" data-url="@Url.Action("Delete", "Employee", new {  emp_id=item.Id  })"  />
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
<script>
     $(document).ready(function () {
         console.log('Employee list document ready called');
     });
     
 </script>

 }

