@model MVCWizard.Web.Models.EmployeeDto
<div>
    <h4>@Model?.FullName - Employee</h4>
    <div class="row">
        <div class="md-col-3">
            @Html.DisplayNameFor(model => model.Id):
            @Html.DisplayFor(model => model.Id)
        </div>
        <div class="md-col-3">
            @Html.DisplayNameFor(model => model.FullName):
            @Html.DisplayFor(model => model.FullName)
        </div>
        <div class="md-col-3">
            @Html.DisplayNameFor(model => model.DateOfBirth) :
            @Html.DisplayFor(model => model.DateOfBirth)
        </div>
        <div class="md-col-3">
            @Html.DisplayNameFor(model => model.Gender):
            @Html.DisplayFor(model => model.Gender)
        </div>
        <div class="md-col-3">
            @Html.DisplayNameFor(model => model.Dept):
            @Html.DisplayFor(model => model.Dept)
        </div>
        <div class="row">
            <div class="md-col-3">
                @Html.DisplayNameFor(model => model.Salary):@Html.DisplayFor(model => model.Salary)
            </div>
            <div class="md-col-3">
                @Html.DisplayNameFor(model => model.DateOfStart):
                @Html.DisplayFor(model => model.DateOfStart)
            </div>
            <div class="md-col-3">
                @Html.DisplayNameFor(model => model.Bio)
                @Html.DisplayFor(model => model.Bio)
            </div>
            <div class="md-col-3">
                @Html.DisplayNameFor(model => model.CompletionStatus)
                @Html.DisplayFor(model => model.CompletionStatus)
            </div>
        </div>
    </div>
</div>

